 .destaques {
	display:flex;
	flex-direction: column;
	height: calc(100vh - 50px); 
  }
  
  .contenedor-destaques{
	display: flex;
	height: 70vh;
  }

  .destaques__principal {
	background: url('../img/fortnite.jpg') (center / cover) no-repeat;
	height: 100%;
	width:20%;
  }

  .destaques__secundario {
	&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
	  display: flex;
	  width: 20%;
	}

  }

  .destaques__secundario {
	&:nth-child(2) {
	  background: url('../img/pubg.jpg') (center / cover) no-repeat;

	}
  
	&:nth-child(3) {
	  background: url('../img/slack.png') (center / cover) no-repeat;

	}
  
	&:nth-child(4) {
	  background: url('../img/whatsapp.png') (center / cover) no-repeat;

	}
  
	&:nth-child(5) {
	  background: url('../img/cs-go.jpg') (center / cover) no-repeat;

	}
  }

  .destaques__titulo {
	background: rgba(0, 0, 0, 0.5);
	color: #fdfdfd;
	padding: .6rem;
	text-align: center;
	width: 100%;
  }
  

  
  .destaques__categorias {
	width: 100%;
  }
  
  .destaques__categorias___lista {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
  }
  
  .destaques__categorias___item {
	align-items: center;
	background: #fdfdfd;
	border-left: 5px solid transparent;
	color: #333333;
	display: flex;
	padding: 1rem;
	width: 50%;
  }
  
  .destaques__categorias___link {
	color: inherit;
	font-size: 20px;
	text-decoration: none;
  }